body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.container{
    background-color:rgb(230, 230, 230);
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    max-width: 600px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


form input[type="text"]{
    border: none;
    font-size: 18px;
    padding: 10px;
    outline: none;
    width: 60%;
    border-radius: 5px;
}

form input[type="submit"]{
    background-color: #007bff;
    border: none;
    color:#fff;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color .3s ease;
}

form input[type="submit"]:hover{
    background-color: #0062cc;
}

.icon img{
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.temperature{
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}

.description{
    font-size: 24px;
    margin-bottom: 20px;
}

.details{
    display: flex; 
    justify-content: center;  
    align-items: center;
    flex-wrap: wrap;   /* to make more responsive */
}

.details > div{
    padding: 20px;
    background-color:#e3e3e3;
    border-radius: 10px;
    margin: 10px;
    flex: 1; /* uses remaining available space in div */
    text-align: center;
    min-height: 45px;
}


@media (max-width:768px){  /* if the width is less than 768px */
    form{
        flex-direction: column;
    }

    form input[type="text"]{
        width: 100%;
        margin-bottom: 10px;
    }
}